body{
    margin:0;
    padding: 0;
    background-color:black;
}
#tablecontainer{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#schedule,#slot{
    color: deeppink;
    padding: 5px;
    margin: 10px;
    font-size: 35px;
}
#book{
    text-decoration: none;
    color: cyan;
}
#book:hover{
    color: deeppink;
}
#slot{
    font-size: 50px;
}
table,tr,th,td{
    text-align: center;
    font-size: 25px;
    border: 2px solid deeppink;
    border-radius: 10px;
    color:cyan;
    padding: 10px;
    border-spacing: 8px;
}
#d{
    color:rgb(251, 252, 251);
}
#t{
    color:rgb(251, 252, 251);
}
#tt{
    color:lightseagreen;
}
td:hover{
    color:deeppink;
    border-color: cyan;
}
#t:hover,#d:hover{
    border-color:rgb(251, 252, 251);
    color: deeppink;
}
